.section-about {
  background-color: $color-primary-light-1;
  padding: 25rem 0;
  margin-top: -25rem;
}

.section-skill {
  margin-top: -20rem;
  background-color: $color-primary-light-1;
  &__content {
    background-color: $color-primary-light-1;
    height: 100rem;
    width: 100%;
    background-image: linear-gradient(rgba($color-primary, .3), rgba($color-primary-dark, .8));
    clip-path: ellipse(61% 36% at 50% 52%);
  }
}

.section-course {
  background-color: $color-primary-light-1;
}
