$color-primary: #5a74fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-gray: #777777;
$color-black: #000;
$color-gray-light: #DCDFE6;
$color-white: #fff;
$color-primary-light-1: #f7f7f7;
$color-orange: #FFA500;
$color-orangered: #FF4500;
$grid-width: 80%;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;
